body	{font-family: "Trebuchet MS", Arial, sans-serif;
	}

body.Home	{background: url(pics/iranhpbg.png);
		font-family: "Trebuchet MS", Arial, sans-serif;
		}
		
body.Map	{background: url(pics/map.png);
		font-family: "Trebuchet MS", Arial, sans-serif;
		}

#header {
	background: url(pics/header-iran.jpg);
	height: 267;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

#container {width: 1250px;
	    color: #00134d
	   }
	
#main {
	background-color:rgba(999,999,999,0.42);
	width: 1250px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}

#content {
	background: url(pics/content1.jpg);
	margin-top: -19px;
	margin-left: -8px;
	margin-right: -8px;
}

.AboutUs  {height: 880px;	
	  }	

.TravelOptions {height: 770px;	
	       }
	       
.IranTour {height: 1755px;	
	  }
	       
.Bonus {height: 2000px;	
     }	       


a.navbar:hover, a.navbar:active {border: 0.5px solid transparent;
				}
				
a:link, a:visited	{color:#002266;
			}

a:focus, a:hover, a:active  {color:white; 
			     text-decoration:none;
			     font-weight:bold;
			    }
				
img.navTop	{margin-top: 387px;
		 margin-left: 12px;
		}
		
img.navBottom	{margin-top: 15px;
		 margin-left: 170px;
		}

img.odd 	{border:5px solid #4d65a0;
		 float:left; 
		 margin-top: 30px;
		 margin-left: 330px;
		}

#footer {
	width: 1265px;
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: center;
	margin-left: -13px;
	}
	
#footer.homepage {
		  width: 1265px;
		  clear: both;
		  padding: 10px;
		  background-color: #999999;
		  color: white;
		  text-align: center;
		  margin-left: -13px;
		  margin-top: 203px;
		 }	

a	{text-decoration:none;
	color: #000000;
	align: left;
	}
	
li	{list-style-type:none;}

nav	{width: 100%;
	text-align:center;
	}
	
nav a	{display: block;
	padding: 14px;
	color: #000000;
	text-align:left;
	}
	
nav a:hover	{background-color: #002266;	
		color: #fff;
		}
		
.menu	{width: 187px;
	 height: 249px;
	 position: absolute;
	 background: #fff;
	 left: -200px;
	 transition: all .3s ease-in-out;
	}

.menu-icon	{padding: 10px 20px;
		background: #fff;
		color: #002266;
		cursor: pointer;
		float: right;
		margin: 6px 6px 0 0;
		}
		
#menuToggle	{display:none;}

#menuToggle:checked ~ .menu	{position: absolute;
				left: 0;
				}
				
table	{font-family: verdana, arial, sans-serif;
	 font-size: 13px;
	 color: #002266;
	 border-width: 3px;
	 border-color: #000;
	 border-collapse: collapse;
	 width: 80%;
	 margin-top: -16px;
	 margin-left: auto;
	 margin-right: auto;
	 }

th	{border-width: 5px;
	 padding: 2px;
	 border-style: solid;
	 border-color: #666666;
	 background-color: #587A9B;
	 color: #fff;
	 height: 50px;
	 }
	 
td	{border-width: 1px;	 
	 border-color: #666666;
	 padding: 8px;
	 border-style: dotted;
	 background-color:rgba(220,220,240,0.83);
	 vertical-align: top;
	 text-align: center;
	 }
	 
.column1 {background-color: #fff;}

.shipping {text-align: left;}

#main .TravelOptions ul {list-style-type: square;
   		  }

form	{margin-top: 15px;
	 padding: 5px;
	 width: 50%;
	 text-transform: uppercase;
	}

label	{
	 float: left;
	 text-align: left;
	 margin-right: 15px;
	 margin-left: 22px;
	 display: block;
	}

label.message	{
	 text-align: center;
	 margin-left: 215px;
	 display: block;
	}	
				 
		 
input		{color: #002266;
		 background: #fff;
		 border: 0.5px solid #002266;
		}
		
select		{color: #002266;
		 background: #fff;
		 border: 0.5px solid #002266;
		}

fieldset	{border: 1px dotted #002266;
		 color: #002266;
		 width: 100%;
	 	 background-color:rgba(230,230,999,0.5);
		 margin-left: 300px;
		 text-align: center;
		}
		
textarea	{color: #002266;
		 background: #fff;
		 border: 0.5px solid #002266;
		}

legend		{color:#fff;
		 background: #587A9B;
		 border: 1px solid #000;
		 padding: 2px 6px;
		}

label.contact	{text-transform: none;
		 text-align: center;
		 margin-left: 166px;
		}

iframe		{width: 900px;
		 height: 820px;
		 margin-left: 178px;
		 margin-top: 40px;	
		}

.width	{width: 1242px;
	 margin-left: 0px;
	}

.centering 	 {
		  text-align: center;
		 }

#backtotop	{
		 width: 13%;
		 background-image: url(pics/backtotop.png);
		 background-size: 65px 65px;
		 background-repeat: no-repeat;
		 }
	
#backtotop a	{width: 100px;
		 height: 100px;
		 display: block;
		}	
	
.topAbout	{margin-top: -85px;
		 margin-left: 605px;
		 margin-bottom: -16px;
	        }

.topIran	{margin-top: -85px;
		 margin-left: 605px;
		 margin-bottom: -16px;
	        }
	        
.topOptions	{margin-top: -85px;
		 margin-left: 600px;
		 margin-bottom: -16px;
	        }	        




img.evenCity	{float:right; 
		 margin-top: 65px;
		 margin-right: 44px;
		 margin-left: 20px;
		 border:1px solid #4d65a0;
		}
		
img.oddCity	{float:left; 
		 margin-top: 1px;
		 margin-right: 33px;
		 margin-left: 35px;
		 border:1px solid #4d65a0;
		}
		
blockquote.cities	{
		 	 margin-top: 0px;
			 text-align: justify;
			}
	
h2.cityTitle2 {text-align: center;
		 margin-bottom: 12px;
		}	
		
h2.cityTitle {text-align: center;
		  margin-left: 228px;
		  margin-bottom: 12px;
		 }			